{% if block.settings.enable %}
  {% if request.page_type == 'product' %}
    <div id="pulpoar-sku" data-sku="{{ product.selected_or_first_available_variant.sku }}"></div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "PulPoAR Try-On",
  "target": "body",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Ürün sayfasında try-on div göster",
      "default": true
    }
  ]
}
{% endschema %}
