{% if block.settings.enable %}
  {% if template == 'product' %}
    <div
      id="pulpoar-try-on-config"
      data-project="{{ shop.myshopify_domain }}-vxcommerce-test"
      data-variants='{{ product.variants | json }}'
    ></div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "blocks.pulpoar-vto.name",
  "target": "body",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "blocks.pulpoar-vto.settings.enable.label",
      "default": true
    }
  ]
}
{% endschema %}
